extends knxlayout

block content
	// never write here, it's on the background
	//WRAPPER
	section#container
		// this is supposed to be "form" "label"
		h2 KNX Device
		form(method="post", action="#", name="knxform", id="knxform")
			#wrapping(class="clearfix")
				section(id="aligned")
					label(for="devicenanme") Device Name
					input#devicename(type='text', placeholder='Device name', name='devicename', tabindex="1", autocomplete="off", class="txtinput")
					input#uuid(type='text', placeholder='optional UUID', name='UUIDBase', tabindex="1", autocomplete="off", class="txtinput")
				section.clearfix(id="aside")
					// example for a 3-way-radio selection
					section(id="prioritycase")
						h3 Configuration Status:
						span(class="radiobadge")
							input#low( type="radio",  name="priority", value="low")
							label(for="low") Initial
						span(class="radiobadge")
							input( type="radio", id="med", name="priority", value="med", checked="checked")
							label( for="med") Work in progress
						span(class="radiobadge")
							input( type="radio", id="high", name="priority", value="high")
							label( for="high") Finished
		#wrapping(class="clearfix")
			section(id="aligned")
				// list with assigned services for devices, etc.
				h3 Assigned Services
				#serviceList
					table
						thead
							th Type
							th Name
							th Remove?
						tbody
				// /USER LIST
