doctype html
html
	head
		title= title
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		link(rel='stylesheet', type="text/css", media="all", href='/stylesheets/knxstyle.css')
		link(rel='stylesheet', type="text/css", media="all", href='/stylesheets/responsive.css')
	body
		block content
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(src='/javascripts/knxglobal.js')		
